<header>
    <div class="row">
        <div class="banner">
            <div class="logo">
                <img src="../../../../assets/logos/jesus-logo.jpeg" alt="Logo">
            </div>
            <h1>Jesus</h1>
        </div>
        <ul class="nav">
            <li><a (click)="scrollToSection('home')" [ngClass]="{'active': activeSection === 'app-home'}">Inicio</a>
            </li>
            <li><a (click)="scrollToSection('about')" [ngClass]="{'active': activeSection === 'app-about'}">Sobre Mí</a>
            </li>
            <li><a (click)="scrollToSection('portfolio')"
                    [ngClass]="{'active': activeSection === 'app-portfolio'}">Portfolio</a></li>
            <li><a (click)="scrollToSection('contact')"
                    [ngClass]="{'active': activeSection === 'app-contact'}">Contacto</a></li>
        </ul>
        <div class="contact">
            <ul class="socials">
                <li><a href="#"><img src="../../../../assets/icons/instagram.svg" alt="instagram"></a></li>
                <li><a href="#"><img src="../../../../assets/icons/linkedin.svg" alt="linkedin"></a></li>
                <li><a href="#"><img src="../../../../assets/icons/twitter.svg" alt="twitter"></a></li>
                <li><a href="#"><img src="../../../../assets/icons/whatsapp.svg" alt="whatsapp"></a></li>
            </ul>
            <button class="btn-contact">HABLEMOS</button>
        </div>
    </div>
    <div class="column">
        <div class="menu">
            <button class="menu-btn" (click)="openMenu()" #menuBtn>
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="logo">
                <div class="img">
                    <img src="../../../../assets/logos/jesus-logo.jpeg" alt="Logo">
                </div>
                <h2>Jesus</h2>
            </div>
        </div>
        <div class="expanded-menu" id="expanded-menu" #expandedMenu>
            <ul class="menu-items">
                <li><a (click)="scrollToSection('home')" [ngClass]="{'active': activeSection === 'app-home'}">Inicio</a>
                </li>
                <li><a (click)="scrollToSection('about')" [ngClass]="{'active': activeSection === 'app-about'}">Sobre
                        Mí</a></li>
                <li><a (click)="scrollToSection('portfolio')"
                        [ngClass]="{'active': activeSection === 'app-portfolio'}">Portfolio</a></li>
                <li><a (click)="scrollToSection('contact')"
                        [ngClass]="{'active': activeSection === 'app-contact'}">Contacto</a></li>
            </ul>
            <ul class="socials-ex">
                <li><a href="#"><img src="../../../../assets/icons/instagram.svg" alt="instagram"></a></li>
                <li><a href="#"><img src="../../../../assets/icons/linkedin.svg" alt="linkedin"></a></li>
                <li><a href="#"><img src="../../../../assets/icons/twitter.svg" alt="twitter"></a></li>
                <li><a href="#"><img src="../../../../assets/icons/whatsapp.svg" alt="whatsapp"></a></li>
            </ul>
            <button class="btn-ex">HABLEMOS</button>
        </div>
    </div>
</header>