:host {
    background-color: var(--primary-color);
}

app-header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.header-space {
    height: 70px;
}

router-outlet {
    display: block;
    min-height: 100vh;
}