<footer>

    <button class="btn-arrow" (click)="scrollToTop()">
        <img src="../../../../assets/icons/angle-up.svg" alt="angle-up">
    </button>

    <div class="row">
        <div class="banner">
            <div class="logo">
                <img src="../../../../assets/logos/jesus-logo.jpeg" alt="Logo">
            </div>
            <span>Jesus</span>
        </div>
        <ul class="nav">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Sobre Mí</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        <div class="contact">
            <ul class="socials">
                <li><a href="#"><img src="../../../../assets/icons/instagram.svg" alt="instagram"></a></li>
                <li><a href="#"><img src="../../../../assets/icons/linkedin.svg" alt="linkedin"></a></li>
                <li><a href="#"><img src="../../../../assets/icons/twitter.svg" alt="twitter"></a></li>
                <li><a href="#"><img src="../../../../assets/icons/whatsapp.svg" alt="whatsapp"></a></li>
            </ul>
        </div>
        <div class="rights">
            <p>© 2024 Jesus. Todos los derechos reservados.</p>
            <p>Diseñado por <a href="#">AngelG</a></p>
        </div>
    </div>
</footer>