<section>

    <div class="title">
        <h1>Sobre mi</h1>
    </div>
    <div class="content">

        <div class="secondary-photo">
            <img src="../../../assets/images/Placeholder_view_vector.svg" alt="hero">
        </div>

        <div class="about">
            <div class="motto">
                <p>Una historia de un ejemplo laburador</p>
            </div>
            <div class="description">
                <p>Hola, soy un ejemplo estoy aqui para mostrarte como quedaria tu mensaje a lo largo y ancho de este
                    parrafo, para que se pueda adaptar la imagen de la izquierda y tambien los elementos que estan
                    debajo de mi. Soy un parrafo largo para poder abarcar el mayor espacio que desees colocar aqui.
                    Quizas tu historia de vida, como llegaste hasta hoy, etc. No dudes en probar cualquier cosa para eso
                    estoy aqui y que veas como quedaria tu mensaje. Seguire extendiendome mas a lo largo para ver que
                    nada se rompa y se vea todo bonito. Si todo funciona muy bien estaré feliz de haber realizado mi
                    trabajo de parrafo de ejemplo. Muchas Gracias si me has leido hasta el final, no has ganado nada
                    importante.</p>
            </div>
            <div class="dashboard">
                <div class="card">
                    <p>15+</p>
                    <span>Años de experiencia</span>
                </div>
                <div class="card">
                    <p>100+</p>
                    <span>Proyectos realizados</span>
                </div>
                <div class="card">
                    <p>100+</p>
                    <span>Clientes satisfechos</span>
                </div>
            </div>
            <div class="dash-btns">
                <button class="hire-btn">Contratar</button>
                <button class="cv-btn">Descargar CV</button>
            </div>
        </div>
    </div>
</section>