:host {
    display: flex;

    min-height: calc(100vh - 70px);

    justify-content: center;
}

.home {
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    max-width: 1200px;
    padding: 40px;
}

.presentation {
    margin-right: 30px;
}

.presentation h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
    color: var(--secondary-color-contrast);
}

.presentation span {
    color: var(--primary-color-light);
}

.presentation p {
    font-size: 16px;
    margin-bottom: 30px;
    color: var(--secondary-color);
}

.btn-portfolio {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondary-color-contrast);
    color: var(--primary-color);
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease;
}

.btn-portfolio:hover {
    background-color: var(--primary-color-light);
    color: var(--primary-color-contrast);
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.image {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}

@media screen and (max-width: 900px) {
    .home {
        flex-direction: column;
        text-align: center;
    }

    .presentation,
    .image {
        width: 100%;
    }

    .presentation {
        margin-bottom: 30px;
        margin-right: 0;
    }
}

@media screen and (max-width: 500px) {
    .home {
        padding: 0;
    }

    .presentation h1 {
        font-size: 40px;
    }

    .presentation p {
        font-size: 14px;
    }

    .image img {
        width: 300px;
        height: 300px;
    }
}